.galerie{
    display: none;
}

header a{
    color: black;
}

nav img{
    width: 22px;
    height: 22px;
}

.mask{
    width: 777px;
    height: 88px;
    display: none;
}


#boutonModifier:hover, header a:hover, nav img:hover{
    color: rgb(177, 102, 60);
    cursor: pointer;
}


.addphoto{
    display: none;
    
    padding-left: 20px;
    padding-right: 20px;
}

.addphoto__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 26px;
}

.quitter2{
    text-align: right;
    width: 100%;
}

.quitter img, .quitter2 img, .fleche img{
    border-radius: 3px;
}

 .quitter img:hover, .quitter2 img:hover, .fleche img:hover{
    background-color: #cbd6dc;
    transition: 400ms;
 }

.photo{
    height: 480px;
    width: 400px;
}

hr{
    width: 75%;
}

p{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 26px;
}


.deleteButton img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.deleteButton{
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    margin-top: 5px;
    margin-left: -22px;
}

.selection-projet{
    width: 585px;
    height: 38px;
    margin: auto;
    margin-bottom: 51px;
    margin-top: 50px;
    display: block;
}

.selection-projet button{
    background-color: #FFFFFF;
    color: #1D6154;
    font-size: 16px;
    height: 37px;
    border-radius: 60px;
    border: 1px solid #10332d;
    cursor: pointer;
}

#but1,#but2{
    width: 100px;
}

#but3{
    width: 157px;
}

#but4{
    width: 198px;
}

#but2,#but3,#but4{
    margin-left: 5px;
}


.selection-projet button:hover{
    background-color: #10332d;
    color: #FFFFFF;
}
.selection-projet button:active{
    background-color: #60a396;
    color: #FFFFFF;
}



.presentation{
    width: 404px;
    height: 192px;
}

.presentation p{
    font-size: 14px;
}

#login{
    display: inline;
}

#logout{
    display: none;
    cursor: pointer;
}

.my-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.my-projects img{
    object-fit: contain;
}

.my-projects p{
    font-size: 14px;
}

.my-projects h2{
    margin: 0 !important;
    margin-block-end: 0 !important;
}

button img{
    /* position: absolute; */
    width: 100%;
}

#contact{
    margin-top: 100px;
}

#contact p{
    font-size: 16px;
}

.mode-edition{
    display: flex;
    height: 59px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.mode-edition-container{
    height: 59px;
    width: 100%;
}

.mode-edition span{
    color: #FFFFFF;
    font-size: 16px;
}

#boutonModifier{
    display: block;
}
